:root {
  --background-color: #edf2f4;
  --background-color-red: #f5e7e7;
  --primary-color: #2b2d42;
  --primary-color-lighter: #8d99ae;
  --secondary-color: #d90429;
  --secondary-color-lighter: #ef233c;
}

html {
  background-color: var(--background-color-red);
  max-width: 100%;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  justify-content: center;
  background-color: var(--background-color-red);
  overflow-x: hidden;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  color: var(--background-color);
}

.navbar {
  background-color: var(--secondary-color);
}

.row {
  padding-top: 1.6rem;
  padding-bottom: 0.8rem;
  display: flex;
  justify-content: center;
}

.input-group-text {
  border-left: 0;
}

.input-group .form-control {
  border-right: 0;
}

#pokemon-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0px 0px;
  padding-inline-start: 0px;
  margin: 0 auto;
  background-color: var(--background-color-red);
  box-sizing: border-box;
}

.pokedex {
  max-width: 100%;
  padding: 0 1rem;
}

li {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 6;
  box-sizing: border-box;
}

.list-group-item {
  background-color: var(--background-color-red);
  padding: 0.3rem 0.3rem;
  border: none;
  box-sizing: border-box;
}

.pokemon-btn {
  padding: 0.5rem;
  margin: 0.2rem;
  font-weight: 700;
  width: 100%;
  transition-duration: 0.2s;
  border-radius: 5%;
}

.pokemon-image {
  max-width: 150px;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
}

.pokemon-btn:hover {
  cursor: pointer;
  box-shadow: 4px 4px 0 0 var(--primary-color);
  transform: translate(-3px, -3px);
}

.modal-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
}

.modal-content {
  background-color: var(--background-color);
  border: 3px solid var(--primary-color);
  overflow: hidden;
  border-radius: 5%;
}

.pokemon.details .text-dark {
  color: #333 !important;
}

.text-light {
  color: #fff !important;
}

.modal-header,
.modal-footer {
  color: white;
}

.modal-header.text-dark,
.modal-footer.text-dark {
  color: black;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-nav-left,
.modal-nav-right {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.modal-nav-left {
  margin-right: 10px;
}

.modal-nav-right {
  margin-left: 10px;
}

.pokemon-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

#footer-page {
  background-color: var(--primary-color);
  color: var(--background-color);
}

#github-link {
  text-decoration: underline;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  #pokemon-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  #pokemon-list {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #pokemon-list {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  #pokemon-list {
    grid-template-columns: repeat(9, 1fr);
  }
}
